<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezzat.lawyer">

    <application
        android:name=".Lawyer"
        android:allowBackup="true"
        android:icon="@drawable/cou"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Login_Register"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.Home"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.AddClientActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.AddCaseActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.AddApointmentActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.CasePageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".View.ApointmentPageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".View.ClientPageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>